{% extends "base.html" %}

{% block title %}Activity File Upload Page{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-four-fifths is-offset-1">
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('project.list_created_projects', user_id=current_user.id) }}">Your projects</a></li>
                    <li class="is-active"><a aria-current="page">Project detail</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            <div class="box">
                <h1 class="title is-size-4 has-text-centered">Upload เอกสารสำหรับรายงานความก้าวหน้า</h1>
                {% include "messages.html" %}
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="field">
                      {{ form.file_url(type="file") }}
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-success" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
