{% extends "base.html" %}

{% block title %}New Application Page{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">เพิ่มข้อมูลการนำผลงานวิจัย/งานสร้างสรรค์ไปใช้ประโยชน์</h1>
            <form method="post" class="box" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">{{ form.title.label }}</label>
                    <div class="control">
                        {{ form.title(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.research_tool.label }}</label>
                    <div class="control">
                        {{ form.research_tool(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.finished_year.label }}</label>
                    <div class="control">
                        {{ form.finished_year(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.date.label }}</label>
                    <div class="control">
                        {{ form.date(class="input", type="date") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.public_how.label }}</label>
                    <div class="control">
                        {{ form.public_how(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.public_outcome.label }}</label>
                    <div class="control">
                        {{ form.public_outcome(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.policy_how.label }}</label>
                    <div class="control">
                        {{ form.policy_how(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.policy_outcome.label }}</label>
                    <div class="control">
                        {{ form.policy_outcome(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.commercial_how.label }}</label>
                    <div class="control">
                        {{ form.commercial_how(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.commercial_outcome.label }}</label>
                    <div class="control">
                        {{ form.commercial_outcome(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.indirect_how.label }}</label>
                    <div class="control">
                        {{ form.indirect_how(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.indirect_outcome.label }}</label>
                    <div class="control">
                        {{ form.indirect_outcome(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.file_upload.label }}</label>
                    <div class="control">
                        {{ form.file_upload() }}
                    </div>
                    {% if form.file_url.data %}
                    <p class="help is-danger">
                        ท่านมีไฟล์แนบแล้ว หากแนบไฟล์ใหม่จะแทนที่ไฟล์เก่า <a href="https://drive.google.com/uc?id={{ form.file_url.data }}">คลิกเพื่อดูไฟล์แนบ</a>
                    </p>
                    {% endif %}
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-success">Save</button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
