{% extends "base.html" %}

{% block title %}New Application Page{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            {% include "message.html" %}
            <h1 class="title has-text-centered">Add Author</h1>
            <form method="post" class="box">
                {{ form.csrf_token() }}
                <div class="field">
                    <label class="label">From List</label>
                    <div class="select">
                        {{ form.user() }}
                    </div>
                </div>
                <hr>
                <div class="field">
                    <label class="label">{{ form.firstname.label }}</label>
                    <div class="control">
                        {{ form.firstname(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.lastname.label }}</label>
                    <div class="control">
                        {{ form.lastname(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.affil.label }}</label>
                    <div class="control">
                        {{ form.affil(class="input") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
