{% extends "base.html" %}

{% block title %}Add Budget Item Page{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-four-fifths is-offset-1">
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('project.list_created_projects', user_id=current_user.id) }}">Your projects</a></li>
                    <li><a href="{{ url_for('project.display_project', project_id=project_id) }}">Project detail</a></li>
                    <li><a href="{{ url_for('project.list_budget_items', project_id=project_id, milestone_id=milestone_id) }}">Budgets</a></li>
                    <li class="is-active"><a aria-current="page">Add / Edit budget</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <h1 class="title has-text-centered">เพิ่มรายการใช้จ่าย</h1>
                <form class="box" method="post" enctype=multipart/form-data>
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="label">หมวดค่าใช้จ่าย</label>
                        <div class="select">
                            {{ form.sub_category() }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.phase.label }}</label>
                        <div class="select">
                            {{ form.phase() }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.wage.label }}</label>
                        <div class="control">
                            {{ form.wage(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.amount_spent.label }}</label>
                        <div class="control">
                            {{ form.amount_spent(class="input") }}
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit" class="button is-success">Create</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('project.list_budget_items', project_id=project_id, milestone_id=milestone_id) }}"
                                class="button is-light">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
