{% extends "base.html" %}

{% block title %}Project: Close Confirmation{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
  <div class="columns">
    <div class="column is-one-third is-offset-4">
      <div class="has-text-centered">
        <h1 class="title">ส่งคำร้องขอปิดโครงการ</h1>
        <div class="box">
          <h3 class="title is-size-5 has-text-danger">ท่านต้องการยืนยันการส่งคำร้องปิดโครงการหรือไม่</h3>
          <div class="buttons is-centered">
            <a href="{{url_for('project.display_project', project_id=project_id)}}"
                    class="button is-light">
              Cancel
            </a>
            <a class="button is-success"
               href="{{url_for('project.send_close_request', confirmed='yes', project_id=project_id)}}">
              Confirm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
