{% extends "base.html" %}

{% block title %}Your Projects Page{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column has-text-centered is-two-thirds is-offset-2">
            <h1 class="title">โครงการวิจัยของคุณ</h1>
            <a href="{{ url_for('project.add_project') }}" class="button is-outlined is-primary">
                <span class="icon">
                    <i class="fas fa-file-medical"></i>
                </span>
                <span>สร้างโครงการใหม่</span>
            </a>
            <a href="{{ url_for('project.add_parent_project') }}" class="button is-outlined is-primary">
                <span class="icon">
                    <i class="fas fa-folder-plus"></i>
                </span>
                <span>สร้างชุดโครงการใหม่</span>
            </a>
            {% include "messages.html" %}
            <table class="table">
                <thead>
                <th>No.</th>
                <th>Thai Title</th>
                <th>English Title</th>
                <th>Created At</th>
                <th>Status</th>
                <th>PIs</th>
                <th></th>
                </thead>
                <tbody>
                {% for project in projects|sort(attribute='created_at', reverse=True) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ project.title_th }}</td>
                    <td>{{ project.title_en }}</td>
                    <td>{{ project.created_at|localdatetime }}</td>
                    <td>{{ project.status }}</td>
                    <td>
                        {% for member in project.members %}
                        {% if member.role == 'PI' %}
                        <a href="{{ url_for('researcher.show_profile', user_id=member.user.id) }}"
                           class="button is-light is-small">
                            <span class="icon">
                                <i class="fas fa-user-circle"></i>
                            </span>
                            <span>
                                {{ member.user.profile.fullname_th }}
                            </span>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('project.display_project', project_id=project.id) }}"
                           class="button is-small is-primary">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span>
                                ดูรายละเอียด
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
