{% extends "base.html" %}

{% block title %}Project Detail Page{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="column">
        <div class="container has-text-centered">
            <h1 class="title">Project Detail</h1>
            <h2 class="subtitle is-size-4">{{ project.title_th }}</h2>
            <p>
                {% for member in project.members %}
                {{ member.user.profile.fullname_th }} ({{ member.role }}),
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-four-fifths is-offset-1">
            {% for cat,msg in get_flashed_messages(with_categories=true) %}
            <p class="notification is-{{ cat }}">{{ msg }}</p>
            {% endfor %}
            <div class="box">
            <table class="table is-fullwidth is-striped">
                <tr>
                    <td class="title is-size-5">English Title</td><td>{{ project.title_en }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Thai Subtitle</td><td>{{ project.subtitle_th }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">English Subtitle</td><td>{{ project.subtitle_en }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Abstract</td><td>{{ project.abstract }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Introduction</td><td>{{ project.intro }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Objective</td><td>{{ project.objective }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Method</td><td>{{ project.method }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Created at</td><td>วันที่ {{ project.created_at|localdatetime }} นาฬิกา</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Updated at</td><td> วันที่ {{ project.updated_at|localdatetime }} นาฬิกา</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Status</td><td>{{ project.status }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5">Category</td>
                    <td>
                        <div class="field is-grouped is-grouped-multiline">
                            {% for cat in project.subcategories %}
                            <div class="control">
                                <div class="tags has-addons">
                                    <p class="tag is-light is-medium is-info">{{ cat.category }}</p>
                                    <p class="tag is-light is-medium">{{ cat.parent }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Members</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>ชื่อ</th>
                            <th>บทบาทหน้าที่</th>
                            <th>email</th>
                            </thead>
                            <tbody>
                            {% for member in project.members %}
                            <tr>
                                <td>{{ member.user.profile }}</td>
                                <td>{{ member.role }}</td>
                                <td>{{ member.user.email }}</td>
                                <td>
                                    <a href="{{ url_for('project.remove_member', project_id=project.id, member_id=member.id) }}">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="has-text-centered">
                                    <a href="{{ url_for('project.add_member', project_id=project.id) }}"
                                       {% if current_user != project.creator or not current_user.is_authenticated %}
                                       disabled
                                       {% endif %}
                                       class="is-link is-outlined button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span><span>Add Member</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Application</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                                <th>องค์กร สถานที่ ชุมชน</th>
                                <th>รายละเอียดการใช้งานวิจัย</th>
                                <th>วันที่และเวลา</th>
                            </thead>
                            <tbody>
                                {% for app in project.applications %}
                                <tr>
                                    <td>{{ app.org }}</td>
                                    <td>{{ app.detail }}</td>
                                    <td>{{ app.date|localdate }}</td>
                                    <td>
                                        {% if current_user == project.creator and current_user.is_authenticated %}
                                        <a href="{{ url_for('project.edit_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                            <span>Edit</span>
                                        </a>
                                        <a href="{{ url_for('project.remove_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                            <span>Remove</span>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% if current_user == project.creator and current_user.is_authenticated %}
                                <tr>
                                    <td colspan="4" class="has-text-centered">
                                        <a href="{{ url_for('project.add_application', project_id=project.id) }}"
                                            {% if project.status !="finished"%}
                                            disabled
                                            {% endif %}
                                            class="is-link is-outlined button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span><span>Add Application</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            </div>
            <div class="has-text-centered">
                <a href="{{ request.referrer }}" class="button is-primary">Back</a>
                {% if (project.creator == current_user or current_user.role == 1) and current_user.is_authenticated %}
                <a href="{{ url_for('project.edit_project', project_id=project.id) }}" class="button is-light">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
