{% extends "base.html" %}

{% block title %}Project Detail Page{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="column">
        <div class="container has-text-centered">
            <h1 class="title">Project Detail</h1>
            <h2 class="subtitle is-size-4">{{ project.title_th }}</h2>
            <p>
                {% for member in project.members %}
                {{ member.user.profile.fullname_th }} ({{ member.role }}),
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-four-fifths is-offset-1">
            {% for cat,msg in get_flashed_messages(with_categories=true) %}
            <p class="notification is-{{ cat }}">{{ msg }}</p>
            {% endfor %}
            <div class="box">
            <table class="table is-fullwidth is-striped">
                <tr>
                    <td class="title is-size-5" width="20%">English Title</td><td>{{ project.title_en }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Thai Subtitle</td><td>{{ project.subtitle_th }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">English Subtitle</td><td>{{ project.subtitle_en }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Abstract</td><td>{{ project.abstract }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Introduction</td><td>{{ project.intro }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Objective</td><td>{{ project.objective }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Method</td><td>{{ project.method }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Created at</td><td>วันที่ {{ project.created_at|localdatetime }} นาฬิกา</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Updated at</td><td> วันที่ {{ project.updated_at|localdatetime }} นาฬิกา</td>
                </tr>
                {% if current_user.is_authenticated and project.creator == current_user %}
                <tr>
                    <td class="title is-size-5" width="20%">Status</td><td>{{ project.status }}</td>
                </tr>
                {% if project.status == 'submitted' %}
                <tr>
                    <td class="title is-size-5" width="20%">Submitted at</td><td>วันที่ {{ project.submitted_at|localdatetime }} นาฬิกา</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="title is-size-5" width="20%">Prospected Journals</td><td>{{ project.prospected_journals }}</td>
                </tr>
                <tr>
                    <td class="title is-size-5" width="20%">Uses or Applications</td><td>{{ project.use_applications }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="title is-size-5" width="20%">Category</td>
                    <td>
                        <div class="field is-grouped is-grouped-multiline">
                            {% for cat in project.subcategories %}
                            <div class="control">
                                <div class="tags has-addons">
                                    <p class="tag is-light is-medium is-info">{{ cat.category }}</p>
                                    <p class="tag is-light is-medium">{{ cat.parent }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Members</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>ชื่อ</th>
                            <th>บทบาทหน้าที่</th>
                            <th>email</th>
                            </thead>
                            <tbody>
                            {% for member in project.members %}
                            <tr>
                                <td>{{ member.user.profile }}</td>
                                <td>{{ member.role }}</td>
                                <td>{{ member.user.email }}</td>
                                <td>
                                    <a href="{{ url_for('project.remove_member', project_id=project.id, member_id=member.id) }}">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="has-text-centered">
                                    <a href="{{ url_for('project.add_member', project_id=project.id) }}"
                                       {% if current_user != project.creator or not current_user.is_authenticated or project.status != 'draft' %}
                                       disabled
                                       {% endif %}
                                       class="is-link is-small is-outlined is-rounded button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span><span>Add</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Figures</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>ลำดับ</th>
                            <th>ชื่อภาพ</th>
                            <th>คำอธิบาย</th>
                            <th colspan="2">รหัสไฟล์</th>
                            </thead>
                            <tbody>
                            {% for fig in project.figures %}
                                <tr>
                                    <td>{{ fig.fignum }}</td>
                                    <td>{{ fig.title }}</td>
                                    <td>{{ fig.desc }}</td>
                                    <td><img src="https://drive.google.com/uc?id={{ fig.url }}"></td>
                                    <td>
                                        {% if current_user == project.creator and current_user.is_authenticated %}
                                        <a href="{{ url_for('project.edit_figure', figure_id=fig.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                        </a>
                                        <a href="{{ url_for('project.remove_figure', figure_id=fig.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="has-text-centered">
                                    <a class="is-link is-outlined is-small is-rounded button"
                                       href="{{ url_for('project.add_figure', project_id=project.id) }}"
                                       {% if current_user != project.creator or project.status != "draft" %}
                                       disabled
                                       {% endif %}
                                        >
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span><span>Add</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% if (project.creator == current_user or current_user.role == 1) and current_user.is_authenticated %}
                <tr>
                    <td class="title is-size-5">Ethic Requests</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>ส่งเมื่อ</th>
                            <th>สถานะ</th>
                            </thead>
                            <tbody>
                            {% for e in project.ethics %}
                            <tr>
                                <td>{{ e.submitted_at|localdatetime }}</td>
                                <td>{{ e.status }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2" class="has-text-centered">
                                    <a href="{{ url_for('project.confirm_add_ethic', project_id=project.id) }}"
                                       {% if project.status != "full" %}
                                       disabled
                                       {% endif %}
                                       class="button is-small is-outlined is-link is-rounded">
                                        <span class="icon">
                                            <i class="fas fa-paper-plane"></i>
                                        </span>
                                        <span>Submit</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Archives</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>ประทับเวลา</th>
                            <th>สถานะ</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for ar in project.archieves %}
                            <tr>
                                <td>{{ ar.archived_at|localdatetime }}</td>
                                <td>{{ ar.status }}</td>
                                <td>
                                    <a href="{{ url_for('project.view_archive', archive_id=ar.id) }}">view</a>
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">ความก้าวหน้า</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>สถานะ</th>
                            <th>รายงานเมื่อ</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for m in project.milestones %}
                            <tr>
                                <td>{{ m.status }}</td>
                                <td>{{ m.created_at|localdatetime }}</td>
                                <td>
                                    <div class="buttons">
                                        <a href="{{ url_for('project.list_gantt_activity', project_id=project.id, milestone_id=m.id) }}"
                                            class="button is-small is-info">
                                            <span class="icon">
                                               <i class="far fa-calendar-alt"></i>
                                            </span>
                                            <span>Gantt Chart</span>
                                        </a>
                                        <a class="button is-small is-info">
                                            <span class="icon">
                                                <i class="fas fa-dollar-sign"></i>
                                            </span>
                                            <span>งบประมาณ</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="has-text-centered">
                                    <a href="{{ url_for('project.add_milestone', project_id=project.id) }}"
                                        class="button is-small is-rounded is-outlined is-link">
                                        <span class="icon">
                                                <i class="fas fa-plus"></i>
                                        </span>
                                        <span>เพิ่มรายการ</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Publications</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>เรื่อง</th>
                            <th>วารสาร</th>
                            <th>ประเภท</th>
                            <th colspan="2">ทุนสนับสนุน</th>
                            </thead>
                            <tbody>
                            {% for p in project.publications %}
                            <tr>
                                <td>{{ p.title }}</td>
                                <td>{{ p.journal.name }}</td>
                                <td>{{ p.category }}</td>
                                <td>
                                    <div class="buttons">
                                        <a href="{{ url_for('project.add_lang_support', project_id=project.id, pub_id=p.id) }}"
                                           class="button is-small is-rounded is-outlined is-link">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                            <span>ตรวจภาษา</span>
                                        </a>
                                        <a href="{{ url_for('project.add_pub_reward', project_id=project.id, pub_id=p.id) }}"
                                                class="button is-small is-rounded is-outlined is-link">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                            <span>รางวัลการตีพิมพ์</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ url_for('project.edit_pub', pub_id=p.id, project_id=project.id) }}">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="has-text-centered">
                                    <a href="{{ url_for('project.add_pub', project_id=project.id) }}"
                                        class="is-link is-outlined is-rounded is-small button">
                                        <span class="icon">
                                                <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Add</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Language Edit Support Request</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>เรื่อง</th>
                            <th>ยอดรวม (บาท)</th>
                            <th>สถานะ</th>
                            <th>ยื่นเมื่อ</th>
                            <th>แก้ไขเมื่อ</th>
                            <th>อนุมัติเมื่อ</th>
                            </thead>
                            <tbody>
                            {% for pub in project.publications %}
                                {% for support in pub.language_editing_supports %}
                                <tr>
                                    <td>{{ pub.title }}</td>
                                    <td>{{ support.amount }}</td>
                                    <td>
                                        {% if support.status == 'อนุมัติ' %}
                                        <span class="icon">
                                            <i class="far fa-check-circle has-text-success"></i>
                                        </span>
                                        {% elif support.status == 'ยกเลิก' or support.status == 'ไม่อนุมัติ' %}
                                        <span class="icon">
                                            <i class="far fa-times-circle has-text-danger"></i>
                                        </span>
                                        {% else %}
                                        <span class="icon">
                                            <i class="far fa-clock"></i>
                                        </span>
                                        {% endif %}
                                        <span>
                                            {{ support.status }}
                                        </span>
                                    </td>
                                    <td>{{ support.submitted_at|localdatetime }}</td>
                                    {% if support.edited_at %}
                                    <td>{{ support.edited_at|localdatetime }}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    {% if support.approved_at %}
                                    <td>{{ support.approved_at|localdatetime }}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Publication Fee/Reward</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>เรื่อง</th>
                            <th>ยอดรวม (บาท)</th>
                            <th>สถานะ</th>
                            <th>ยื่นเมื่อ</th>
                            <th>แก้ไขเมื่อ</th>
                            <th>อนุมัติเมื่อ</th>
                            </thead>
                            <tbody>
                            {% for pub in project.publications %}
                            {% for reward in pub.pub_rewards %}
                            <tr>
                                <td>{{ pub.title }}</td>
                                <td>{{ reward.amount }}</td>
                                <td>
                                    {% if reward.status == 'อนุมัติ' %}
                                    <span class="icon">
                                            <i class="far fa-check-circle has-text-success"></i>
                                        </span>
                                    {% elif reward.status == 'ยกเลิก' or reward.status == 'ไม่อนุมัติ' %}
                                    <span class="icon">
                                            <i class="far fa-times-circle has-text-danger"></i>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                            <i class="far fa-clock"></i>
                                        </span>
                                    {% endif %}
                                    <span>
                                            {{ reward.status }}
                                    </span>
                                </td>
                                <td>{{ reward.submitted_at|localdatetime }}</td>
                                {% if reward.edited_at %}
                                <td>{{ reward.edited_at|localdatetime }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                {% if reward.approved_at %}
                                <td>{{ reward.approved_at|localdatetime }}</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-5">Application</td>
                    <td>
                        <table class="table is-striped">
                            <thead>
                            <th>องค์กร สถานที่ ชุมชน</th>
                            <th>รายละเอียดการใช้งานวิจัย</th>
                            <th>วันที่และเวลา</th>
                            </thead>
                            <tbody>
                            {% for app in project.applications %}
                            <tr>
                                <td>{{ app.org }}</td>
                                <td>{{ app.detail }}</td>
                                <td>{{ app.date|localdate }}</td>
                                <td>
                                    {% if current_user == project.creator and current_user.is_authenticated %}
                                    <a href="{{ url_for('project.edit_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                        <span>Edit</span>
                                    </a>
                                    <a href="{{ url_for('project.remove_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        <span>Remove</span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% if current_user == project.creator and current_user.is_authenticated %}
                            <tr>
                                <td colspan="4" class="has-text-centered">
                                    <a href="{{ url_for('project.add_application', project_id=project.id) }}"
                                       {% if project.status !="finished"%}
                                       disabled
                                       {% endif %}
                                       class="is-link is-outlined is-small is-rounded button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span><span>Add</span>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
            </table>
            </div>
            <div class="has-text-centered">
                <a href="{{ request.referrer }}" class="button is-light">Back</a>
                {% if (project.creator == current_user or current_user.role == 1) and current_user.is_authenticated %}
                <a href="{{ url_for('project.edit_project', project_id=project.id) }}"
                   class="button is-link"
                   {% if project.status == 'submitted' %}
                    disabled
                    {% endif %}
                >Edit</a>
                <a href="{{ url_for('project.submit_project', project_id=project.id) }}"
                   class="button is-primary"
                   {% if project.status == 'submitted' %}
                    disabled
                    {% endif %}
                >Submit</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
