{% extends "base.html" %}

{% block title %}Ethic Reviews Page{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column has-text-centered is-two-thirds is-offset-2">
            <h1 class="title">Project Ethic Approval Reviews</h1>
            {% for review in ethic.reviews %}
            <div class="box">
                <table class="table is-fullwidth">
                    <thead>
                    <col width="40%">
                    <col width="60%">
                    <th></th>
                    <th>ผลการประเมิน</th>
                    </thead>
                    <tr>
                        <td class="title is-size-5">ผู้ประเมิน</td>
                        <td>{{ review.reviewer.academic_title or '' }}{{ review.reviewer.fullname }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">โครงการวิจัยขอให้ทบทวนดังนี้</td>
                        <td>{{ review.project_revision }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">เครื่องมือวิจัย เป็นต้นว่าแบบสอบถาม ขอให้มีการทบทวนดังนี้</td>
                        <td>{{ review.tool_revision }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">เอกสารข้อมูลสำหรับกลุ่มประชากรหรือผู้ที่มีส่วนร่วมในการวิจัย (Patient/Participant Information Sheet) ขอให้มีการทบทวนดังนี้</td>
                        <td>{{ review.doc_revision }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ใบยินยอมของกลุ่มประชากรหรือผู้มีส่วนร่วมในการวิจัย (Informed consent form) ขอให้มีการทบทวนดังนี้</td>
                        <td>{{ review.consent_revision }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ข้อสังเกต</td>
                        <td>{{ review.note }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">Submitted</td>
                        {% if review.submitted_at %}
                        <td><span class="tag is-success is-medium">{{ review.submitted_at|localdatetime }}</span></td>
                        {% else %}
                        <td><span class="tag is-warning is-medium">Waiting</span></td>
                        {% endif %}
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">Decision</td>
                        <td><strong class="has-text-info">{{ review.status|title }}</strong></td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third is-offset-4 has-text-centered">
            <div class="buttons is-centered">
                <a href="{{ url_for('project.display_project', project_id=project_id) }}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
