{% extends "base.html" %}

{% block title %}Projects Page{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="container">
            <h1 class="title has-text-centered">โครงการวิจัยทั้งหมด</h1>
            <table class="table is-narrow is-striped" id="projectTable">
                <thead>
                <th>No.</th>
                <th>Thai Title</th>
                <th>English Title</th>
                <th>Created At</th>
                <th>PIs</th>
                <th>Detail</th>
                </thead>
                <tbody>
                {% for project in projects|sort(attribute='created_at', reverse=True) %}
                {% if project.status != 'draft' %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ project.title_th }}</td>
                    <td>{{ project.title_en }}</td>
                    <td>{{ project.created_at|localdatetime }}</td>
                    <td>
                        {% for member in project.members %}
                        {% if member.role == 'PI' %}
                        {{ member.user.profile.fullname_th }},
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('project.display_project_shorten', project_id=project.id) }}"
                           class="button is-small is-primary is-outlined">
                            <span>รายละเอียด</span>
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('#projectTable').DataTable();
    })
</script>
{% endblock %}
