{% extends "base.html" %}

{% block title %}Edit Language Support{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">แบบบันทึกข้อมูลการสนับสนุนเรื่องการตรวจภาษา</h1>
            <form method="post" class="box">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">{{ form.qualification_select.label }}</label>
                        {% for opt in form.qualification_select %}
                        <div class="control">
                            <label class="checkbox">
                                {% if opt.label.text in qualification %}
                                {{ opt(checked=True) }}
                                {% else %}
                                {{ opt() }}
                                {% endif %}
                                {{ opt.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                </div>
                <div class="field">
                    <label class="label">{{ form.criteria_select.label }}</label>
                        {% for opt in form.criteria_select %}
                        <div class="control">
                            <label class="checkbox">
                                {% if opt.label.text in criteria %}
                                {{ opt(checked=True) }}
                                {% else %}
                                {{ opt() }}
                                {% endif %}
                                {{ opt.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                </div>
                <div class="field">
                    <label class="label">{{ form.request_select.label }}</label>
                        {% for opt in form.request_select %}
                        <div class="control">
                            <label class="checkbox">
                                {% if opt.label.text in request_data %}
                                {{ opt(checked=True) }}
                                {% else %}
                                {{ opt() }}
                                {% endif %}
                                {{ opt.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                </div>
                <div class="field">
                    <label class="label">{{ form.docs_select.label }}</label>
                        {% for opt in form.docs_select %}
                        <div class="control">
                            <label class="checkbox">
                                {% if opt.label.text in docs %}
                                {{ opt(checked=True) }}
                                {% else %}
                                {{ opt() }}
                                {% endif %}
                                {{ opt.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                </div>
                <div class="field">
                    <label class="label">{{ form.other_docs.label }}</label>
                    <div class="control">
                        {{ form.other_docs(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.amount.label }}</label>
                    <div class="control">
                        {{ form.amount(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <div class="buttons is-centered">
                        <button type="submit" class="button is-primary">Save</button>
                        <a class="button is-light"
                            href="{{ request.referrer }}">
                            Back
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
