{% extends "base.html" %}

{% block title %}Project Milestone Edit Page{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <h1 class="title has-text-centered">Add Milestone</h1>
                <form class="box" method="post" enctype=multipart/form-data>
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="label">{{ form.status.label }}</label>
                        <div class="select">
                            {{ form.status() }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.detail.label }}</label>
                        <div class="control">
                            {{ form.detail(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.plan.label }}</label>
                        <div class="control">
                            {{ form.plan(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.related_activity.label }}</label>
                        <div class="control">
                            {{ form.related_activity(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.obstacle.label }}</label>
                        <div class="control">
                            {{ form.obstacle(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.opinion.label }}</label>
                        <div class="control">
                            {{ form.opinion(class="textarea") }}
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit" class="button is-success">Create</button>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
