{% extends "base.html" %}

{% block title %}{{ title }} Page{% endblock %}
{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">{{ title }}</h1>
            <form method="post">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">{{ form.title_th.label }}</label>
                    <div class="control">
                        {{ form.title_th(placeholder='Title Thai', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.subtitle_th.label }}</label>
                    <div class="control">
                        {{ form.subtitle_th(placeholder='Subtitle Thai', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.title_en.label }}</label>
                    <div class="control">
                        {{ form.title_en(placeholder='Title English', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.subtitle_en.label }}</label>
                    <div class="control">
                        {{ form.subtitle_en(placeholder='Subtitle English', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">ชุดโครงการ/โครงการเดี่ยว</label>
                    <div class="select">
                        {{ form.parent(class="select") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">ประเภททุน</label>
                    <div class="select">
                        {{ form.fund_source(class="select") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.abstract.label }}</label>
                    <div class="control">
                        {{ form.abstract(placehoder="Abstract", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.intro.label }}</label>
                    <div class="control">
                        {{ form.intro(placehoder="Introduction", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.objective.label }}</label>
                    <div class="control">
                        {{ form.objective(placehoder="Objective", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.method.label }}</label>
                    <div class="control">
                        {{ form.method(placehoder="Method", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.prospected_journals.label }}</label>
                    <div class="control">
                        {{ form.prospected_journals(placehoder="Prospected Journals", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.use_applications.label }}</label>
                    <div class="control">
                        {{ form.use_applications(placehoder="Uses or Applications", class="textarea") }}
                    </div>
                </div>
                {% if current_user.role == 1 %}
                <div class="field">
                    <p class="help is-danger">Only admin can see and update the status</p>
                    <label class="label">{{ form.status.label }}</label>
                    <div class="select">
                        {{ form.status() }}
                    </div>
                </div>
                {% endif %}
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-success">
                            <span class="icon">
                               <i class="far fa-save"></i>
                            </span>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{{ request.referrer }}">
                            <span class="icon">
                               <i class="far fa-times-circle"></i>
                            </span>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
