{% extends "base.html" %}

{% block title %}{{ title }} Page{% endblock %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-two-thirds is-offset-2">
            <h1 class="title has-text-centered">{{ title }}</h1>
            <form method="post" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <article class="message is-link">
                    <div class="message-header">
                        ข้อมูลโครงการเบื้องต้น
                    </div>
                    <div class="message-body">
                        <div class="field">
                            <label class="label">{{ form.title_th.label }}</label>
                            <div class="control">
                                {{ form.title_th(required=True, placeholder='Title Thai', class='input is-danger') }}
                            </div>
                            <p class="help is-danger">ต้องกรอก</p>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.subtitle_th.label }}</label>
                            <div class="control">
                                {{ form.subtitle_th(placeholder='Subtitle Thai', class='input') }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.title_en.label }}</label>
                            <div class="control">
                                {{ form.title_en(placeholder='Title English', class='input') }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.subtitle_en.label }}</label>
                            <div class="control">
                                {{ form.subtitle_en(placeholder='Subtitle English', class='input') }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ชุดโครงการ/โครงการเดี่ยว</label>
                            <div class="select">
                                {{ form.parent(class="select") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ประเภททุน</label>
                            <div class="select">
                                {{ form.fund_source(class="select") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.mentor.label }}</label>
                            <div class="control">
                                {{ form.mentor(class="input") }}
                                <p class="help is-danger">สำหรับทุนนักวิจัยรุ่นใหม่</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.abstract.label }}</label>
                            <div class="control">
                                <div class="content">
                                    {{ form.abstract(placeholder="Abstract", class="textarea", id="abstract-editor") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="message is-info">
                    <div class="message-header">
                        รายละเอียดโครงการ
                    </div>
                    <div class="message-body">
                        <div class="field">
                            <label class="label">{{ form.intro.label }}</label>
                            <div class="control">
                                <div class="content">
                                    {{ form.intro(placeholder="Introduction", class="textarea", id="intro-editor") }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.objective.label }}</label>
                            <div class="control">
                                <div class="content">
                                    {{ form.objective(placeholder="Objective", class="textarea", id="objective-editor") }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.method.label }}</label>
                            <div class="control">
                                <div class="content">
                                    {{ form.method(placeholder="Method", class="textarea", id="method-editor") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="message is-success">
                    <div class="message-header">
                        ผลลัพธ์ที่คาด
                    </div>
                    <div class="message-body">
                        <div class="field">
                            <label class="label">{{ form.prospected_journals.label }}</label>
                            <div class="control">
                                {{ form.prospected_journals(placehoder="Prospected Journals", class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.use_applications.label }}</label>
                            <div class="control">
                                {{ form.use_applications(placehoder="Uses or Applications", class="textarea") }}
                            </div>
                        </div>
                    </div>
                </article>
                {% if project %}
                <article class="message is-warning">
                    <div class="message-header">
                        ข้อมูลสัญญาสามารถเพิ่มเติมได้เมื่อโครงการได้รับการอนุมัติแล้ว
                    </div>
                    <div class="message-body">
                        <div class="field">
                            <label class="label">{{ form.contract_no.label }}</label>
                            <div class="control">
                                {% if project.status != 'full approved' %}
                                {{ form.contract_no(class="input", disabled=True) }}
                                {% else %}
                                {{ form.contract_no(class="input") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.contract_upload.label }}</label>
                            <div class="control">
                                {% if project.status != 'full approved' %}
                                {{ form.contract_upload(disabled=True) }}
                                {% else %}
                                {{ form.contract_upload(disabled=False) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}
                {% if current_user.role == 1 %}
                <div class="field">
                    <p class="help is-danger">Only admin can see and update the status</p>
                    <label class="label">{{ form.status.label }}</label>
                    <div class="select">
                        {{ form.status() }}
                    </div>
                </div>
                {% endif %}
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-success">
                            <span class="icon">
                               <i class="far fa-save"></i>
                            </span>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{{ request.referrer }}">
                            <span class="icon">
                               <i class="far fa-times-circle"></i>
                            </span>
                            <span>Cancel</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $(document).ready(function() {
        $('#abstract-editor').summernote({
            height: 400
        })
        $('#intro-editor').summernote({
            height: 400
        })
        $('#objective-editor').summernote({
            height: 400
        })
        $('#method-editor').summernote({
            height: 400
        })
    })
</script>
{% endblock %}