{% extends "base.html" %}

{% block title %}Project Edit Page{% endblock %}
{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">New Education Record</h1>
            <form method="post">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">{{ form.title_th.label }}</label>
                    <div class="control">
                        {{ form.title_th(placeholder='Title Thai', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.subtitle_th.label }}</label>
                    <div class="control">
                        {{ form.subtitle_th(placeholder='Subtitle Thai', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.title_en.label }}</label>
                    <div class="control">
                        {{ form.title_en(placeholder='Title English', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.subtitle_en.label }}</label>
                    <div class="control">
                        {{ form.subtitle_en(placeholder='Subtitle English', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.abstract.label }}</label>
                    <div class="control">
                        {{ form.abstract(placehoder="Abstract", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.intro.label }}</label>
                    <div class="control">
                        {{ form.intro(placehoder="Introduction", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.objective.label }}</label>
                    <div class="control">
                        {{ form.objective(placehoder="Objective", class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.method.label }}</label>
                    <div class="control">
                        {{ form.method(placehoder="Method", class="textarea") }}
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-success">Save</button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
