{% extends "base.html" %}

{% block page_content %}
<section class="hero is-fullheight is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="{{ url_for('static', filename='images/engineers.jpg') }}">
                </div>
                {% if current_user.is_authenticated %}
                <div class="column is-two-fifths">
                    <h1 class="title">STIN Research Management System.</h1>
                    <div class="box has-text-centered">
                        <h1 class="title is-size-5 has-text-dark">You're now logged in.</h1>
                        <h1 class="title is-size-4 has-text-dark">
                            <strong>{{ current_user.profile }}</strong>
                        </h1>
                        <h1 class="subtitle is-size-4 has-text-dark">Welcome</h1>
                        <hr>
                        <div class="buttons is-centered">
                            <a class="button is-primary"
                               href="{{ url_for('researcher.show_profile', user_id=current_user.id) }}">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                                <span>Your Profile</span>
                            </a>
                            <a class="button is-success"
                               href="{{ url_for('project.add_project') }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>New Project</span>
                            </a>
                            <a class="button is-info"
                               href="{{ url_for('project.list_created_projects', user_id=current_user.id) }}">
                                <span class="icon">
                                    <i class="fas fa-project-diagram"></i>
                                </span>
                                <span>Your Projects</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="column is-one-third">
                    {% include "messages.html" %}
                    <div class="box has-text-centered">
                        <h1><strong>Sign In with Email</strong></h1>
                        <hr>
                        <form action="{{ url_for('auth.login') }}" method="post">
                            {% if current_user.is_authenticated %}
                            <fieldset disabled>
                            {% endif %}
                            {{ form.csrf_token }}
                            <div class="field">
                                <div class="control">
                                    {{ form.email(placeholder='Email', class='input') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.password(placeholder='Password', class='input') }}
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary" type="submit">Sign In</button>
                                </div>
                                <div class="control">
                                    <a class="button is-text" href="{{ url_for('auth.register') }}">Or register your E-mail</a>
                                </div>
                            </div>
                            {% if current_user.is_authenticated %}
                            </fieldset>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}