{% extends "webadmin/academic_support_index.html" %}

{% block academic_support_content %}
<div class="container">
    {% include "messages.html" %}
    <div class="columns">
        <div class="column">
            <table class="table is-bordered is-fullwidth">
                <tr>
                    <td class="title is-size-6">ผู้ขออนุมัติ</td>
                    <td>{{ rec.researcher.profile.fullname_th }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">หัวข้อ</td>
                    <td>{{ rec.topic }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">สถานที่</td>
                    <td>{{ rec.venue }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">ประเภท</td>
                    <td>{{ rec.development_type.name }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">หมวด</td>
                    <td>{{ rec.development_category.name }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">วันที่</td>
                    <td>{{ rec.start_date|localdate }} - {{ rec.end_date|localdate }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">ค่าใช้จ่าย</td>
                    <td>
                        <table class="table is-bordered is-striped">
                            <thead>
                            <th>No.</th>
                            <th>รายการ</th>
                            <th>จำนวนเงิน</th>
                            </thead>
                            <tbody>
                            {% for item in rec.items %}
                            {% if item.item %}
                            <tr>
                                <th>{{ loop.index }}</th>
                                <td>{{ item.item }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="title is-size-6">ส่งวันที่</td>
                    <td>{{ rec.submitted_at|localdatetime }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">อนุมัติเมื่อ</td>
                    <td>{{ rec.approved_at|localdatetime }}</td>
                </tr>
                <tr>
                    <td class="title is-size-6">ไม่อนุมัติเมื่อ</td>
                    <td>{{ rec.rejected_at|localdatetime }}</td>
                </tr>
            </table>
            <div class="buttons is-centered">
                <a class="button is-danger" href="{{ url_for('webadmin.approve_development_request', status='reject', req_id=rec.id) }}">Reject</a>
                <a class="button is-success" href="{{ url_for('webadmin.approve_development_request', status='approve', req_id=rec.id) }}">Approve</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
