{% extends "base.html" %}

{% block title %}Project Review{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% include "messages.html" %}
                <div>
                    <h1 class="title has-text-centered">Ethic Approval Submissions</h1>
                    <table class="table is-fullwidth is-narrow is-striped" id="ethicTable">
                        <thead>
                        <th>No.</th>
                        <th>Title TH</th>
                        <th>Status</th>
                        <th>Submitted at</th>
                        <th></th>
                        </thead>
                    {% for et in ethics|sort(attribute='submitted_at', reverse=True) %}
                        <tr>
                            <td>{{ et.id }}</td>
                            <td>{{ et.project.title_th }}</td>
                            <td>{{ et.status }}</td>
                            <td>{{ et.submitted_at|localdatetime }}</td>
                            <td>
                                <a href="{{ url_for('webadmin.ethic_detail', ethic_id=et.id) }}"
                                   class="button is-small is-primary">
                                <span class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                    <span>รายละเอียด</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('#ethicTable').DataTable();
    })
</script>
{% endblock %}
