{% extends "base.html" %}

{% block title %}Project Ethic Review Form{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% for cat,msg in get_flashed_messages(with_categories=true) %}
                <p class="notification is-{{ cat }}">{{ msg }}</p>
                {% endfor %}
                <div class="box">
                    <h1 class="title has-text-centered">Project Detail</h1>
                    <table class="table is-fullwidth is-striped">
                        <tr>
                            <td class="title is-size-5" width="20%">English Title</td><td>{{ project.title_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Thai Subtitle</td><td>{{ project.subtitle_th }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">English Subtitle</td><td>{{ project.subtitle_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Abstract</td><td>{{ project.abstract }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Introduction</td><td>{{ project.intro }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Objective</td><td>{{ project.objective }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Method</td><td>{{ project.method }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Updated at</td><td> วันที่ {{ project.updated_at|localdatetime }} นาฬิกา</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Category</td>
                            <td>
                                <div class="field is-grouped is-grouped-multiline">
                                    {% for cat in project.subcategories %}
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <p class="tag is-light is-medium is-info">{{ cat.category }}</p>
                                            <p class="tag is-light is-medium">{{ cat.parent }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Members</td>
                            <td>
                                <table class="table is-striped">
                                    <thead>
                                    <th>ชื่อ</th>
                                    <th>บทบาทหน้าที่</th>
                                    <th>email</th>
                                    </thead>
                                    <tbody>
                                    {% for member in project.members %}
                                    <tr>
                                        <td>{{ member.user.profile }}</td>
                                        <td>{{ member.role }}</td>
                                        <td>{{ member.user.email }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Figures</td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>File ID</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for fig in project.figures %}
                                    <tr>
                                        <td>{{ fig.fignum }}</td>
                                        <td>{{ fig.title }}</td>
                                        <td>{{ fig.desc }}</td>
                                        <td><img src="https://drive.google.com/uc?id={{ fig.url }}"></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Timeline</td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <th>Goal/Task/Requirement</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for m in project.milestones %}
                                    <tr>
                                        <td>{{ m.goal }}</td>
                                        {% if m.deadline %}
                                        <td>{{ m.deadline|localdatetime }}</td>
                                        {% else %}
                                        <td>Not specified</td>
                                        {% endif %}
                                        <td>{{ m.status }}</td>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h1 class="title has-text-centered">แบบบันทึกความเห็นการพิจารณาแบบ Expedited Review</h1>
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">{{ form.status.label }}</label>
                            <div class="select">
                                {{ form.status() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.project_revision.label }}</label>
                            <div class="control">
                                {{ form.project_revision(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.tool_revision.label }}</label>
                            <div class="control">
                                {{ form.tool_revision(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.doc_revision.label }}</label>
                            <div class="control">
                                {{ form.doc_revision(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.consent_revision.label }}</label>
                            <div class="control">
                                {{ form.consent_revision(class="textarea") }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-success">Save</button>
                            </div>
                            <div class="control">
                                <a class="button is-light" href="/">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
