{% extends "base.html" %}

{% block title %}Progress Report{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="column">
        <div class="container has-text-centered">
            <h1 class="title">Progress Report</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column is-four-fifths is-offset-1">
            {% include "messages.html" %}
            <div class="box">
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <th>ชื่อโครงการ</th>
                    <th>รายงานเมื่อ</th>
                    <th></th>
                    <th colspan="2">อนุมัติเมื่อ</th>
                    </thead>
                    {% for milestone in milestones %}
                    <tr>
                        <td>{{ milestone.project.title_th }}</td>
                        <td style="width:20%"> {{ milestone.submitted_at|localdatetime }}</td>
                        <td>
                            <div class="buttons has-addons">
                                <a href="{{ url_for('webadmin.list_gantt_activity', milestone_id=milestone.id) }}"
                                   class="button is-small is-primary is-outlined">
                                    <span class="icon">
                                       <i class="far fa-calendar-alt"></i>
                                    </span>
                                    <span>Gantt Chart</span>
                                </a>
                                <a class="button is-small is-primary is-outlined"
                                   href="{{url_for('webadmin.list_budgets', milestone_id=milestone.id)}}">
                                    <span class="icon">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                    <span>งบประมาณ</span>
                                </a>
                                <a class="button is-small is-primary is-outlined"
                                   href="{{url_for('webadmin.list_summaries', milestone_id=milestone.id)}}">
                                    <span class="icon">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    <span>ผลการดำเนินงาน</span>
                                </a>
                                {% if milestone.file_url %}
                                <a class="button is-small is-primary is-outlined"
                                   href="https://drive.google.com/uc?id={{ milestone.file_url }}">
                                    ดูไฟล์แนบ
                                </a>
                                {% endif %}
                            </div>
                        </td>
                        <td style="width:20%">{{ milestone.approved_at|localdatetime }}</td>
                        <td>
                            <div class="buttons">
                                {% if not milestone.approved_at %}
                                <a href="{{ url_for('webadmin.receive_a_progress', milestone_id=milestone.id, approved='yes') }}"
                                        class="button is-primary">
                                    <span>อนุมัติ</span>
                                </a>
                                <a href="{{ url_for('webadmin.receive_a_progress', milestone_id=milestone.id, approved='no') }}"
                                   class="button is-danger">
                                    <span>ไม่อนุมัติ</span>
                                </a>
                                {% endif %}
                                <a href="{{url_for('webadmin.send_progress_to_committee', milestone_id=milestone.id)}}"
                                   class="button is-info">
                                    <span>ส่งผู้ประเมิน</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
