{% extends "base.html" %}

{% block title %}Project Summary Page{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {% include "message.html" %}
        <h1 class="title has-text-centered">สรุปผลการดำเนินงาน</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <hr>
        <table class="table is-fullwidth is-striped">
          <thead>
          <th>ลำดับ</th>
          <th>กิจกรรมตามแผนงาน</th>
          <th>ผลผลิตที่ระบุไว้</th>
          <th>ผลผลิตที่เกิดขึ้นจริง</th>
          <th>แก้ไขล่าสุดเมื่อ</th>
          </thead>
          <tbody>
          {% for rec in milestone.summaries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ rec.activity }}</td>
            <td>{{ rec.expected_outcome }}</td>
            <td>{{ rec.outcome }}</td>
            <td>{{ rec.edited_at|localdatetime }} น.</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="buttons is-centered">
          <a href="{{ url_for('webadmin.list_progress_reports') }}"
             class="button is-light">
            Back
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
