{% extends "base.html" %}

{% block title %}Budgets{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">{{milestone.project.title_th}}</h1>
        <h1 class="subtitle has-text-centered">ส่งเมื่อ {{milestone.submitted_at|localdatetime}} น.</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="title is-size-4">รายงานความก้าวหน้า</h3>
        <table class="table is-fullwidth is-bordered is-striped">
          <tr>
            <td class="title is-size-5">สถานะ</td>
            <td class="is-size-5">{{ milestone.status }}</td>
          </tr>
          <tr>
            <td class="title is-size-5">รายละเอียดการเปลี่ยนแปลงแผนงาน</td>
            <td class="is-size-5">{{ milestone.detail }}</td>
          </tr>
          <tr>
            <td class="title is-size-5">การดำเนินงานในช่วงต่อไป</td>
            <td class="is-size-5">{{ milestone.plan }}</td>
          </tr>
          <tr>
            <td class="title is-size-5">กิจกรรมอื่นๆ ที่เกี่ยวข้อง</td>
            <td class="is-size-5">{{ milestone.related_activity }}</td>
          </tr>
          <tr>
            <td class="title is-size-5">อุปสรรคในการดำเนินงานและแนวทางแก้ไข</td>
            <td class="is-size-5">{{ milestone.obstacle }}</td>
          </tr>
          <tr>
            <td class="title is-size-5">ความเห็นของผู้วิจัย</td>
            <td class="is-size-5">{{ milestone.opinion }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">Gantt Chart</h1>
        <div id="chart_div"></div>
        <table class="table is-fullwidth is-striped">
          <thead>
          <th>กิจกรรม</th>
          <th>วันเริ่มต้น</th>
          <th>วันสิ้นสุด</th>
          <th>รายละเอียด</th>
          <th>ร้อยละความสำเร็จ</th>
          <th></th>
          </thead>
          <tbody>
          {% for a in milestone.gantt_activities|sort(attribute='task_id') %}
          <tr>
            <td>{{ a.task_id }}</td>
            <td>{{ a.start_date|localdate }}</td>
            <td>{{ a.end_date|localdate }}</td>
            <td>{{ a.detail }}</td>
            <td>{{ a.completion }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <hr>
        <h3 class="title is-size-4">รายการค่าใช้จ่าย</h3>
        <table class="table is-fullwidth is-striped">
          <thead>
          <th>หมวด</th>
          <th>ค่าตอบแทน (บาท)</th>
          <th>งบที่ใช้ไปแล้ว (บาท)</th>
          <th>รายละเอียด</th>
          <th colspan="2">แก้ไขเมื่อ</th>
          </thead>
          <tbody>
          {% for item in milestone.budget_items %}
          <tr>
            <td>{{ item.category.category }}</td>
            <td>{{ item.wage }}</td>
            <td>{{ item.amount_spent }}</td>
            <td>{{ item.detail }}</td>
            <td>{{ item.edited_at|localdatetime }} น.</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="title is-size-4">สรุปความก้าวหน้า</h3>
        <table class="table is-fullwidth is-striped">
          <thead>
          <th>ลำดับ</th>
          <th>กิจกรรมตามแผนงาน</th>
          <th>ผลผลิตที่ระบุไว้</th>
          <th>ผลผลิตที่เกิดขึ้นจริง</th>
          <th>แก้ไขล่าสุดเมื่อ</th>
          </thead>
          <tbody>
          {% for rec in milestone.summaries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ rec.activity }}</td>
            <td>{{ rec.expected_outcome }}</td>
            <td>{{ rec.outcome }}</td>
            <td>{{ rec.edited_at|localdatetime }} น.</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if milestone.file_url %}
        <div class="buttons is-centered">
          <a class="button is-primary"
             href="https://drive.google.com/uc?id={{ milestone.file_url }}">
            ดูไฟล์แนบ
          </a>
        </div>
        {% else %}
        <div class="title is-size-5 has-text-centered">
          ไม่มีเอกสารแนบ
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {'packages':['gantt']});
  google.charts.setOnLoadCallback(drawChart);

  function daysToMilliseconds(days) {
    return days * 24 * 60 * 60 * 1000;
  }

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task ID');
    data.addColumn('string', 'Task Name');
    data.addColumn('date', 'Start Date');
    data.addColumn('date', 'End Date');
    data.addColumn('number', 'Duration');
    data.addColumn('number', 'Percent Complete');
    data.addColumn('string', 'Dependencies');

    var activities = {{ gantt_activities|tojson|safe }};
    var gantt_activities = [];
    activities.forEach(function(item) {
      start_date = new Date(item[2]);
      end_date = new Date(item[3]);
      gantt_activities.push([item[0],
        item[1], start_date, end_date,
        item[4], item[5], item[6]]);
    });
    data.addRows(gantt_activities);
    var options = {
      height: 275
    };

    var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>
{% endblock %}
