{% extends "base.html" %}

{% block title %}Proposal Development Support Requests {% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "message.html" %}
                <h1 class="title has-text-centered">Proposal Development Support Requests</h1>
                <table class="table is-narrow is-striped is-fullwidth" id="propTable">
                    <thead>
                    <th>No.</th>
                    <th>ผู้ยื่น</th>
                    <th>ยื่นเมื่อ</th>
                    <th>แก้ไขเมื่อ</th>
                    <th>สถานะ</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for req in supports|sort(attribute='submitted_at', reverse=True) %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ current_user.profile.fullname_th }}</td>
                        <td>{{ req.submitted_at|localdatetime }}</td>
                        <td>
                            {% if req.edited_at %}
                            {{ req.edited_at|localdatetime }}
                            {% endif %}
                        </td>
                        <td>
                            {% if req.approved_at %}
                            <span class="icon">
                                <i class="far fa-check-circle has-text-success"></i>
                            </span>
                            <span>อนุมัติ</span>
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('webadmin.edit_proposal_development_support', request_id=req.id) }}">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('#propTable').DataTable();
    })
</script>
{% endblock %}
