{% extends "base.html" %}

{% block title %}Add Journal{% endblock %}
{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">เพิ่มข้อมูลวารสารวิชาการ</h1>
            {% include 'message.html' %}
            <form method="post" class="box">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">Journals</label>
                    <div class="control">
                        <div class="select">
                            {{ form.journals() }}
                        </div>
                    </div>
                </div>
                <span>The journal is not in the list?</span><a class="is-primary" href="{{ url_for('webadmin.add_journal') }}"> Click here </a>to add.
                <div class="field">
                    <label class="label">{{ form.title.label }}</label>
                    <div class="control">
                        {{ form.title(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Authors</label>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input type="text" class="input" value="{{ pub.authors_list }}" readonly>
                    </div>
                    <div class="control">
                        <a class="button is-primary" href="{{
                            url_for('webadmin.edit_pub_authors', pub_id=pub.id) }}">
                            Edit Authors
                        </a>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.th_abstract.label }}</label>
                    <div class="control">
                        {{ form.th_abstract(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.en_abstract.label }}</label>
                    <div class="control">
                        {{ form.en_abstract(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.doi.label }}</label>
                    <div class="control">
                        {{ form.doi(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.url.label }}</label>
                    <div class="control">
                        {{ form.url(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.volume.label }}</label>
                    <div class="control">
                        {{ form.volume(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.issue_no.label }}</label>
                    <div class="control">
                        {{ form.issue_no(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.year.label }}</label>
                    <div class="control">
                        {{ form.year(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.month.label }}</label>
                    <div class="select">
                        {{ form.month() }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.page_no.label }}</label>
                    <div class="control">
                        {{ form.page_no(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.category.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.category(class='select') }}
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-primary">Add</button>
                    </div>
                    <div class="control">
                        <a href="{{ url_for('webadmin.list_pubs') }}" class="button is-success">Done</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
