{% extends "base.html" %}

{% block title %}Project Review{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% for cat,msg in get_flashed_messages(with_categories=true) %}
                <p class="notification is-{{ cat }}">{{ msg }}</p>
                {% endfor %}
                <div class="box">
                    <h1 class="title has-text-centered">Project Detail</h1>
                    <table class="table is-fullwidth is-striped">
                        <tr>
                            <td class="title is-size-5" width="20%">English Title</td><td>{{ project.title_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Thai Subtitle</td><td>{{ project.subtitle_th }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">English Subtitle</td><td>{{ project.subtitle_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Abstract</td><td>{{ project.abstract }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Introduction</td><td>{{ project.intro }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Objective</td><td>{{ project.objective }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Method</td><td>{{ project.method }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Updated at</td><td> วันที่ {{ project.updated_at|localdatetime }} นาฬิกา</td>
                        </tr>
                        {% if current_user.is_authenticated and project.creator == current_user %}
                        <tr>
                            <td class="title is-size-5" width="20%">Prospected Journals</td><td>{{ project.prospected_journals }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5" width="20%">Uses or Applications</td><td>{{ project.use_applications }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="title is-size-5" width="20%">Category</td>
                            <td>
                                <div class="field is-grouped is-grouped-multiline">
                                    {% for cat in project.subcategories %}
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <p class="tag is-light is-medium is-info">{{ cat.category }}</p>
                                            <p class="tag is-light is-medium">{{ cat.parent }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Members</td>
                            <td>
                                <table class="table is-striped">
                                    <thead>
                                    <th>ชื่อ</th>
                                    <th>บทบาทหน้าที่</th>
                                    <th>email</th>
                                    </thead>
                                    <tbody>
                                    {% for member in project.members %}
                                    <tr>
                                        <td>{{ member.user.profile }}</td>
                                        <td>{{ member.role }}</td>
                                        <td>{{ member.user.email }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Application</td>
                            <td>
                                <table class="table is-striped">
                                    <thead>
                                    <th>องค์กร สถานที่ ชุมชน</th>
                                    <th>รายละเอียดการใช้งานวิจัย</th>
                                    <th>วันที่และเวลา</th>
                                    </thead>
                                    <tbody>
                                    {% for app in project.applications %}
                                    <tr>
                                        <td>{{ app.org }}</td>
                                        <td>{{ app.detail }}</td>
                                        <td>{{ app.date|localdate }}</td>
                                        <td>
                                            {% if current_user == project.creator and current_user.is_authenticated %}
                                            <a href="{{ url_for('project.edit_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                                <span>Edit</span>
                                            </a>
                                            <a href="{{ url_for('project.remove_application', app_id=app.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                                <span>Remove</span>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Figures</td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>File ID</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for fig in project.figures %}
                                    <tr>
                                        <td>{{ fig.fignum }}</td>
                                        <td>{{ fig.title }}</td>
                                        <td>{{ fig.desc }}</td>
                                        <td><img src="https://drive.google.com/uc?id={{ fig.url }}"></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Timeline</td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <th>Goal/Task/Requirement</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for m in project.milestones %}
                                    <tr>
                                        <td>{{ m.goal }}</td>
                                        {% if m.deadline %}
                                        <td>{{ m.deadline|localdatetime }}</td>
                                        {% else %}
                                        <td>Not specified</td>
                                        {% endif %}
                                        <td>{{ m.status }}</td>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h1 class="title has-text-centered">Write Review</h1>
                    <hr>
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">{{ form.alignment_select.label }}</label>
                            <div class="control">
                                {{ form.alignment_select }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.alignment_other.label }}</label>
                            <div class="control">
                                {{ form.alignment_other(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.alignment_comment.label }}</label>
                            <div class="control">
                                {{ form.alignment_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.importance.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.importance() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.importance_comment.label }}</label>
                            <div class="control">
                                {{ form.importance_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.objective.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.objective() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.objective_comment.label }}</label>
                            <div class="control">
                                {{ form.objective_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.idea.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.idea() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.idea_comment.label }}</label>
                            <div class="control">
                                {{ form.idea_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.objective.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.objective() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.objective_comment.label }}</label>
                            <div class="control">
                                {{ form.objective_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.sampling.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.sampling() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.sampling_comment.label }}</label>
                            <div class="control">
                                {{ form.sampling_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.variable.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.variable() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.variable_comment.label }}</label>
                            <div class="control">
                                {{ form.variable_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.tool.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.tool() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.tool_comment.label }}</label>
                            <div class="control">
                                {{ form.tool_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.data_collection.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.data_collection() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.data_collection_comment.label }}</label>
                            <div class="control">
                                {{ form.data_collection_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.data_analyze.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.data_analyze() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.data_analyze_comment.label }}</label>
                            <div class="control">
                                {{ form.data_analyze_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.plan.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.plan() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.plan_comment.label }}</label>
                            <div class="control">
                                {{ form.plan_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.outcome.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.outcome() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.outcome_detail_select.label }}</label>
                            <div class="control">
                                {{ form.outcome_detail_select() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.outcome_comment.label }}</label>
                            <div class="control">
                                {{ form.outcome_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.benefit.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.benefit() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.benefit_detail_select.label }}</label>
                            <div class="control">
                                {{ form.benefit_detail_select() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.benefit_comment.label }}</label>
                            <div class="control">
                                {{ form.benefit_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.budget.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.budget() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.budget_comment.label }}</label>
                            <div class="control">
                                {{ form.budget_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.comment.label }}</label>
                            <div class="control">
                                {{ form.comment(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.status.label }}</label>
                            <div class="select">
                                {{ form.status() }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
