{% extends "base.html" %}

{% block title %}Project Reviews Page{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column has-text-centered is-two-thirds is-offset-2">
            <h1 class="title">Project Reviews</h1>
            {% include "messages.html" %}
            {% for review in project.reviews %}
            <div class="box">
                <table class="table is-fullwidth">
                    <col width="40">
                    <col width="50">
                    <col width="10">
                    <thead>
                        <th></th>
                        <th>ผลการประเมิน</th>
                        <th>ข้อเสนอแนะ</th>
                    </thead>
                    <tr>
                        <td class="title is-size-5">ผู้ประเมิน</td>
                        <td>{{ review.reviewer.academic_title or '' }}{{ review.reviewer.fullname }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ความสอดคล้องกับยุทธศาาตร์ฯ</p></td>
                        <td>{{ review.alignment|replace('|', ', ') }}, {{ review.alignment_other }}</td>
                        <td>
                            {{ review.alignment_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ความเห็นเกี่ยวกับชื่อโครงการวิจัย</td>
                        <td colspan="2">
                            {{ review.title_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ความสำคัญและที่มาของปัญหาการวิจัย</td>
                        <td>{{ review.importance}}</td>
                        <td>
                            {{ review.importance_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">แนวคิดพื้นฐาน/กรอบทฤษฎีที่ใช้ในการวิจัย</td>
                        <td>{{ review.idea}}</td>
                        <td>
                            {{ review.idea_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ระเบียบวิธีวิจัย</td>
                        <td colspan="2">
                            <table class="table is-striped">
                                <thead>
                                    <th></th>
                                    <th>ผลการประเมิน</th>
                                    <th>ข้อแนะนำ</th>
                                </thead>
                                <tr>
                                    <td><strong>การเลือกกลุ่มตัวอย่าง</strong></td>
                                    <td>{{ review.sampling }}</td>
                                    <td>{{ review.sampling_comment }}</td>
                                </tr>
                                <tr>
                                    <td><strong>การระบุตัวแปรชนิดต่างๆ</strong></td>
                                    <td>{{ review.variable }}</td>
                                    <td>{{ review.variable_comment }}</td>
                                </tr>
                                <tr>
                                    <td><strong>เครื่องมือการวิจัยฯ</strong></td>
                                    <td>{{ review.tool }}</td>
                                    <td>{{ review.tool_comment }}</td>
                                </tr>
                                <tr>
                                    <td><strong>การเก็บรวบรวมข้อมูล</strong></td>
                                    <td>{{ review.data_collection }}</td>
                                    <td>{{ review.data_collection_comment }}</td>
                                </tr>
                                <tr>
                                    <td><strong>วิธีการวิเคราะห์ข้อมูล</strong></td>
                                    <td>{{ review.data_analyze }}</td>
                                    <td>{{ review.data_analyze_comment }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">แผนการดำเนินการวิจัย</td>
                        <td>{{ review.plan}}</td>
                        <td>
                            {{ review.plan_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ผลผลิตจากการวิจัย</td>
                        <td>{{ review.outcome}}</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">รายการผลผลิตจากการวิจัย</td>
                        <td>{{ review.outcome_detail|replace('|', ', ') }}, {{ review.outcome_detail_other }}</td>
                        <td>
                            {{ review.outcome_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">ประโยชน์ที่คาดว่าจะได้รับ</td>
                        <td>{{ review.benefit}}</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">รายการประโยชน์ที่คาดว่าจะได้รับ</td>
                        <td>{{ review.benefit_detail|replace('|', ', ') }}, {{ review.benefit_detail_other }}</td>
                        <td>
                            {{ review.benefit_comment }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">สรุป</td>
                        <td>{{ review.comment or '' }}</td>
                        <td>
                            {% if review.comment %}
                            <span class="icon">
                                <i class="fas fa-check has-text-success"></i>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">Submitted</td>
                        {% if review.submitted_at %}
                        <td>{{ review.submitted_at|localdatetime }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">Decision</td>
                        <td><strong class="has-text-info">{{ review.status|title }}</strong></td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    {% block navigation %}
    <div class="columns">
        <div class="column is-one-third is-offset-4 has-text-centered">
            <div class="buttons is-centered">
                <a href="{{ url_for('webadmin.submission_detail', project_id=project.id) }}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                    <span>Back</span>
                </a>
                <a href="{{ url_for('webadmin.update_status', project_id=project.id) }}" class="button is-primary">
                    <span>Update Status</span>
                </a>
            </div>
        </div>
    </div>
    {% endblock %}
</section>
<section class="section">
    <div class="container">
        <div class="column is-two-thirds is-offset-2">
            <h1 class="title">สรุปผลการพิจารณาโครงการ</h1>
            <div class="box">
                <h1 class="title has-text-centered">Write Review</h1>
                <hr>
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="field">
                        <p class="help has-text-danger">Required</p>
                        <label class="label">{{ form.alignment_select.label }}</label>
                        <div class="control">
                            {{ form.alignment_select }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.alignment_other.label }}</label>
                        <div class="control">
                            {{ form.alignment_other(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.alignment_comment.label }}</label>
                        <div class="control">
                            {{ form.alignment_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.title_comment.label }}</label>
                        <div class="control">
                            {{ form.title_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.importance.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.importance() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.importance_comment.label }}</label>
                        <div class="control">
                            {{ form.importance_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.objective.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.objective() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.objective_comment.label }}</label>
                        <div class="control">
                            {{ form.objective_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.idea.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.idea() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.idea_comment.label }}</label>
                        <div class="control">
                            {{ form.idea_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.sampling.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.sampling() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.sampling_comment.label }}</label>
                        <div class="control">
                            {{ form.sampling_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.variable.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.variable() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.variable_comment.label }}</label>
                        <div class="control">
                            {{ form.variable_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.tool.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.tool() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.tool_comment.label }}</label>
                        <div class="control">
                            {{ form.tool_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.data_collection.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.data_collection() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.data_collection_comment.label }}</label>
                        <div class="control">
                            {{ form.data_collection_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.data_analyze.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.data_analyze() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.data_analyze_comment.label }}</label>
                        <div class="control">
                            {{ form.data_analyze_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.plan.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.plan() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.plan_comment.label }}</label>
                        <div class="control">
                            {{ form.plan_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.outcome.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.outcome() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <p class="help has-text-danger">Required</p>
                        <label class="label">{{ form.outcome_detail_select.label }}</label>
                        <div class="control">
                            {{ form.outcome_detail_select() }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.outcome_comment.label }}</label>
                        <div class="control">
                            {{ form.outcome_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.benefit.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.benefit() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <p class="help has-text-danger">Required</p>
                        <label class="label">{{ form.benefit_detail_select.label }}</label>
                        <div class="control">
                            {{ form.benefit_detail_select() }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.benefit_comment.label }}</label>
                        <div class="control">
                            {{ form.benefit_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.budget.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.budget() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.budget_comment.label }}</label>
                        <div class="control">
                            {{ form.budget_comment(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">{{ form.comment.label }}</label>
                        <div class="control">
                            {{ form.comment(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.status.label }}</label>
                        <div class="select">
                            {{ form.status() }}
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                        {% if review %}
                        {% if not review.released_at %}
                        <div class="control">
                            <a href="{{ url_for('webadmin.view_reviews', released='yes', project_id=project.id) }}"
                               class="button is-link">Release</a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
