{% extends "base.html" %}

{% block title %}Review Confirm{% endblock %}
{% block page_content %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box has-text-centered">
                <h3 class="title is-size-5 has-text-info">ศูนย์วิจัยและนวัตกรรม สถาบันการพยาบาลศรีสวรินทิรา สภากาชาดไทย</h3>
                <hr>
                <h1 class="title is-size-3">ระบบได้บันทึกผลการพิจารณาโครงการวิจัยเรียบร้อยแล้ว</h1>
                <h2 class="title is-size-4">ขอขอบพระคุณเป็นอย่างสูง</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
