{% extends "base.html" %}

{% block title %}Project Review{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% for cat,msg in get_flashed_messages(with_categories=true) %}
                <p class="notification is-{{ cat }}">{{ msg }}</p>
                {% endfor %}
                <div class="box">
                    <h1 class="title has-text-centered">Project Detail</h1>
                    <table class="table is-fullwidth is-bordered">
                        <col style="width: 20%">
                        {% if project.parent_project %}
                        <tr>
                            <td class="title is-size-5">ชุดโครงการ</td><td>{{ project.parent_project }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="title is-size-5">ชื่อรองภาษาไทย</td><td>{{ project.subtitle_th }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ชื่อภาษาอังกฤษ</td><td>{{ project.title_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ชื่อรองภาษาอังกฤษ</td><td>{{ project.subtitle_en }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ที่ปรึกษาโครงการ</td><td>{{ project.mentor or '-' }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ประเภทของงานวิจัย</td>
                            <td class="content">{{ project.research_type or '-' }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">สาขาวิชาการและกลุ่มที่ทำวิจัย</td>
                            <td class="content">{{ project.research_cluster or '-' }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">คำสำคัญของโครงการวิจัย</td>
                            <td class="content">{{ project.keywords|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">บทคัดย่อ</td>
                            <td class="content">{{ project.abstract|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ความสำคัญและที่มาของปัญหาที่ทำการวิจัย</td>
                            <td class="content">{{ project.intro|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">วัตถุประสงค์ของโครงการวิจัย</td>
                            <td class="content">{{ project.objective|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ขอบเขตของโครงงานวิจัย</td>
                            <td class="content">{{ project.scope|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">นิยามคำศัพท์</td>
                            <td class="content">{{ project.glossary|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ทฤษฎี สมมุติฐานและกรอบแนวคิด</td>
                            <td class="content">{{ project.conceptual_framework|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">การทบทวนวรรณกรรม/สารสนเทศที่เกี่ยวข้อง</td>
                            <td class="content">{{ project.literature_review|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">เอกสารอ้างอิง</td>
                            <td class="content">{{ project.references|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ประโยชน์ที่คาดว่าจะได้รับ</td>
                            <td class="content">{{ project.expected_benefit|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ระเบียบวิธีวิจัย</td>
                            <td class="content">{{ project.method|safe }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">แผนการดำเนินงาน</td>
                            <td>
                                <div id="chart_div"></div>
                                <table class="table is-striped is-narrow is-fullwidth">
                                    <thead>
                                    <th>รายการ</th>
                                    <th>เริ่มต้น</th>
                                    <th>สิ้นสุด</th>
                                    </thead>
                                    <tbody>
                                    {% for activity in gantt_activities %}
                                    <tr>
                                        <td>{{ activity[1] }}</td>
                                        <td>{{ activity[-3]|localdate }}</td>
                                        <td>{{ activity[-2]|localdate }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">งบประมาณ</td>
                            <td>
                                <table class="table is-fullwidth is-striped is-narrow">
                                    <thead>
                                    <th>รายการ</th>
                                    <th>จำนวนเงิน</th>
                                    <th>หมายเหตุ</th>
                                    </thead>
                                    <tbody>
                                    {% for budget in project.overall_budgets|sort(attribute='category_ref') %}
                                    <tr>
                                        <td>{{ budget.sub_category }}</td>
                                        <td align="right">{{ budget.wage|format_number }}</td>
                                        <td>{{ budget.item }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td align="right">รวม</td>
                                        <td align="right">{{ sum_objs(project.overall_budgets, 'wage')|format_number }}</td>
                                        <td></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">วารสารที่คาดว่าจะส่งตีพิมพ์ผลงาน</td><td>{{ project.prospected_journals }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">การนำไปใช้ประโยชน์</td><td>{{ project.use_applications }}</td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">หมวดหมู่</td>
                            <td>
                                <div class="field is-grouped is-grouped-multiline">
                                    {% for cat in project.subcategories %}
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <p class="tag is-light is-medium is-info">{{ cat.category }}</p>
                                            <p class="tag is-light is-medium">{{ cat.parent }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">ผู้ร่วมวิจัย</td>
                            <td>
                                <table class="table is-striped">
                                    <thead>
                                    <th>ชื่อ</th>
                                    <th>บทบาทหน้าที่</th>
                                    <th>email</th>
                                    </thead>
                                    <tbody>
                                    {% for member in project.members %}
                                    <tr>
                                        <td>{{ member.user.fullname_thai or member.fullname }}</td>
                                        <td>{{ member.role }}</td>
                                        <td>{{ member.user.email }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">รูปภาพ</td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>File ID</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for fig in project.figures %}
                                    <tr>
                                        <td>{{ fig.fignum }}</td>
                                        <td>{{ fig.title }}</td>
                                        <td>{{ fig.desc }}</td>
                                        <td><img src="https://drive.google.com/uc?id={{ fig.url }}"></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-5">Supplementary Documents</td>
                            <td>
                                <table class="table is-striped is-narrow">
                                    <thead>
                                    <th>ชื่อเอกสาร</th>
                                    <th>คำอธิบาย</th>
                                    <th>ไฟล์</th>
                                    </thead>
                                    <tbody>
                                    {% for sup in project.supplementary_docs %}
                                    <tr>
                                        <td>{{ sup.filename }}</td>
                                        <td>{{ sup.desc }}</td>
                                        <td>
                                            <a href="https://drive.google.com/uc?id={{ project.final_report_url }}"
                                               target="_blank">
                                        <span class="icon">
                                            <i class="far fa-file-alt"></i>
                                        </span>
                                                <span>view</span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box">
                    <h1 class="title has-text-centered">Write Review</h1>
                    <hr>
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">{{ form.alignment_select.label }}</label>
                            <div class="control">
                                {{ form.alignment_select }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.alignment_other.label }}</label>
                            <div class="control">
                                {{ form.alignment_other(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.alignment_comment.label }}</label>
                            <div class="control">
                                {{ form.alignment_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.title_comment.label }}</label>
                            <div class="control">
                                {{ form.title_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.importance.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.importance() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.importance_comment.label }}</label>
                            <div class="control">
                                {{ form.importance_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.objective.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.objective() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.objective_comment.label }}</label>
                            <div class="control">
                                {{ form.objective_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.idea.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.idea() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.idea_comment.label }}</label>
                            <div class="control">
                                {{ form.idea_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.sampling.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.sampling() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.sampling_comment.label }}</label>
                            <div class="control">
                                {{ form.sampling_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.variable.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.variable() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.variable_comment.label }}</label>
                            <div class="control">
                                {{ form.variable_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.tool.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.tool() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.tool_comment.label }}</label>
                            <div class="control">
                                {{ form.tool_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.data_collection.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.data_collection() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.data_collection_comment.label }}</label>
                            <div class="control">
                                {{ form.data_collection_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.data_analyze.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.data_analyze() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.data_analyze_comment.label }}</label>
                            <div class="control">
                                {{ form.data_analyze_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.plan.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.plan() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.plan_comment.label }}</label>
                            <div class="control">
                                {{ form.plan_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.outcome.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.outcome() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.outcome_detail_select.label }}</label>
                            <div class="control">
                                {{ form.outcome_detail_select() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.outcome_comment.label }}</label>
                            <div class="control">
                                {{ form.outcome_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.benefit.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.benefit() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.benefit_detail_select.label }}</label>
                            <div class="control">
                                {{ form.benefit_detail_select() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.benefit_comment.label }}</label>
                            <div class="control">
                                {{ form.benefit_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.budget.label }}</label>
                            <div class="control">
                                <div class="select">
                                    {{ form.budget() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.budget_comment.label }}</label>
                            <div class="control">
                                {{ form.budget_comment(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label">{{ form.comment.label }}</label>
                            <div class="control">
                                {{ form.comment(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.status.label }}</label>
                            <div class="select">
                                {{ form.status() }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function daysToMilliseconds(days) {
        return days * 24 * 60 * 60 * 1000;
    }

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');

        var activities = {{ gantt_activities|tojson|safe }};
        console.log(activities)
        var gantt_activities = [];
        activities.forEach(function(item) {
            start_date = new Date(item[2]);
            end_date = new Date(item[3]);
            gantt_activities.push([item[0],
                item[1], start_date, end_date,
                item[4], item[5], item[6]]);
        });
        data.addRows(gantt_activities);
        let options = {
            height: '600',
            width: '100%'
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

        if (!jQuery.isEmptyObject(activities)) {
            chart.draw(data, options);
        }
    }
</script>
{% endblock %}
