{% extends "base.html" %}

{% block title %}Project Submission Detail{% endblock %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% for cat,msg in get_flashed_messages(with_categories=true) %}
                <p class="notification is-{{ cat }}">{{ msg }}</p>
                {% endfor %}
                <div class="box">
                <h1 class="title has-text-centered">Send History</h1>
                {% for review in project.reviews %}
                    <table class="table is-striped is-bordered is-fullwidth">
                        <tbody>
                        <tr>
                            <td class="title is-size-4">Reviewer</td>
                            <td class="title is-size-5">
                                {{ review.reviewer.academic_title }} {{ review.reviewer.fullname }}
                            </td>
                        </tr>
                        <tr>
                            <td class="title is-size-4">
                                History
                            </td>
                            <td>
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                    <th>To</th>
                                    <th>At</th>
                                    <th>Form</th>
                                    <th></th>
                                    </thead>
                                    {% for record in review.send_records %}
                                    <tbody>
                                    <tr>
                                        <td>{{ record.to }}</td>
                                        <td>{{ record.sent_at|localdatetime }}</td>
                                        <td>
                                            <a href="{{ url_for('webadmin.write_review', project_id=project.id, review_id=record.review_id) }}"
                                               class="button is-link is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </span>
                                                <span>Write</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('webadmin.resend_for_review', project_id=project.id, record_id=record.id) }}"
                                               class="button is-link is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-share"></i>
                                                </span>
                                                <span>Resend</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a href="{{ url_for('webadmin.submission_detail', project_id=project.id) }}" class="button is-light">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>
                        Back
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
