{% extends "base.html" %}

{% block title %}Project Submission Detail{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title has-text-centered">Send The Project For A Review</h1>
                <form class="box" method="post">
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="label">Project Title Thai</label>
                        <div class="control">
                            <input type="input" value="{{ project.title_th }}" disabled class="input">
                        </div>
                    </div>
                    {% if to %}
                    <div class="field">
                        <label class="label">Send To</label>
                        <div class="control">
                            <input type="input" value="{{ to.email }}" disabled class="input">
                        </div>
                    </div>
                    {% else %}
                    <div class="field">
                        <label class="label">Send To</label>
                        <div class="control">
                            <input type="input" value="All" disabled class="input">
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">{{ form.title.label }}</label>
                        <div class="control">
                            {{ form.title(class="input", value='ขอความอนุเคราะห์พิจารณา{}'.format(project.title_th)) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.message.label }}</label>
                        <div class="control">
                            {{ form.message(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.footer.label }}</label>
                        <div class="control">
                            {{ form.footer(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.deadline.label }}</label>
                        <div class="control">
                            {{ form.deadline(class="input is-danger", type="text") }}
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit" class="button is-success">Send</button>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $('input[name="deadline"]').daterangepicker({
        singleDatePicker: true,
        locale: {
            format: 'YYYY-MM-DD'
        }
    });
</script>
{% endblock %}
