{% extends "base.html" %}

{% block title %}Update Project Status{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h1 class="title has-text-centered">Project Status</h1>
                <hr>
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="label">Status</label>
                        <div class="select">
                            {{ form.status() }}
                        </div>
                    </div>
                    <div class="field is-grouped-centered is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-success">Update</button>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
