{% extends "base.html" %}
{% block page_content %}
<section class="hero is-fullheight is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    {% include "messages.html" %}
                    <div class="box">
                        <h1 class="title">Change Password</h1>
                        <hr>
                        <form action="{{ url_for('auth.edit_password') }}" method="post">
                            {{ form.csrf_token }}
                            <div class="field">
                                <div class="control">
                                    {{ form.curr_password(placeholder='Current Password', class='input is-danger') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.new_password(placeholder='New Password', class='input is-danger') }}
                                    <p class="help">Must be 8-16 characters.</p>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.confirm_new_password(placeholder='Confirm New Password', class='input is-danger') }}
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Submit</button>
                                </div>
                                <div class="control">
                                    <a href="{{ request.referrer }}" class="button is-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
