{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="hero is-info">
</section>
<section class="section">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            {% include "messages.html" %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="box has-text-centered">
                <h2 class="title">Profile</h2>
                {% if user.profile.photo_url %}
                <img width="128" height="128" src="https://drive.google.com/uc?id={{ user.profile.photo_url }}">
                {% else %}
                <img width="128" height="128" src="{{ url_for('static', filename='images/account.png') }}">
                {% endif %}
                <br/>
                {% if current_user.is_authenticated and current_user.id == user.id %}
                <a href="{{ url_for('researcher.edit_profile', user_id=user.id) }}"
                    class="button is-rounded is-success">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span>แก้ไขประวัติ</span>
                </a>
                {% endif %}
                <hr>
                <table class="table is-fullwidth">
                    <tr>
                        <td class="title is-size-5">Thai Name</td>
                        <td>{{ user.profile.title_th or '' }} {{ user.profile.fullname_th or '-' }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">English Name</td>
                        <td>{{ user.profile.title_en or '' }} {{ user.profile.fullname_en or '-' }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">E-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% if current_user.is_authenticated and current_user.id == user.id %}
                    <tr>
                        <td class="title is-size-5">Password</td>
                        <td>
                            <a href="{{ url_for('auth.edit_password') }}"
                               class="has-text-danger">Change Password</a>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="title is-size-5">Program</td>
                        <td>{{ user.profile.program or '-' }}</td>
                    </tr>
                    <tr>
                        <td class="title is-size-5">Education</td>
                        <td>
                        <table class="table is-fullwidth is-striped is-narrow">
                            {% for ed in user.profile.educations|sort(attribute='year', reverse=True) %}
                            <tr>
                                <td class="title is-size-6">Level</td>
                                <td class="title is-size-6">{{ ed.degree|title }}</td>
                                <td>
                                    {% if current_user.is_authenticated and current_user.id==user.id %}
                                    <a href="{{ url_for('researcher.edit_education', edid=ed.id) }}"
                                        class="button is-small is-primary is-outlined">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <span>แก้ไข</span>
                                    </a>
                                    <a href="{{ url_for('researcher.remove_education', edid=ed.id) }}"
                                       class="button is-small is-outlined is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                        <span>ลบทิ้ง</span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{ ed.degree_title|title }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>{{ ed.year }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Program</td>
                                <td>{{ ed.program or '-' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Field</td>
                                <td>{{ ed.field or '-' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>University</td>
                                <td>{{ ed.university or '-' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            {% endfor %}
                            {% if current_user.is_authenticated and current_user.id == user.id %}
                            <tr>
                                <td></td>
                                <td>
                                    <a href="{{ url_for('researcher.add_education', profile_id=user.profile.id) }}"
                                        class="button is-rounded is-success is-small">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>เพิ่มประวัติการศึกษา</span>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            {% endif %}
                        </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="box has-text-centered">
                <h2 class="title">Publication</h2>
                {% if current_user.is_authenticated and current_user.id == user.id %}
                <a href="{{ url_for('researcher.add_pub') }}"
                    class="button is-success is-rounded">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                    <span>เพิ่มผลงานวิจัยใหม่</span>
                </a>
                {% endif %}
                <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Published</th>
                    </thead>
                    <tbody>
                    {% for pub in user.publications %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ url_for('researcher.show_pub', pub_id=pub.id) }}">{{ pub.title }}</a></td>
                        <td>{{ pub.journal }}</td>
                        <td>{{ pub.pub_date|localdate }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="box has-text-centered">
                <h2 class="title">International Conference Supports</h2>
                {% if current_user.is_authenticated and current_user.id == user.id %}
                <a href="{{ url_for('researcher.add_intl_conference_support') }}"
                    class="button is-rounded is-success">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                    <span>ยื่นขออนุมัติเงินสนับสนุน</span>
                </a>
                {% endif %}
                <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>No.</th>
                    <th>ยื่นวันที่</th>
                    <th>จำนวนเงิน</th>
                    <th>สถานที่ประชุม</th>
                    <th>สถานะ</th>
                    <th>อนุมัติวันที่</th>
                    </thead>
                    <tbody>
                    {% for support in user.intl_conference_supports %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ support.submitted_at|localdatetime }}</td>
                        <td>{{ support.amount }}</td>
                        <td>{{ support.venue }}</td>
                        <td>
                            {% if support.approved_at %}
                            <span class="icon">
                                <i class="far fa-check-circle has-text-success"></i>
                            </span>
                            <span>อนุมัติ</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if support.approved_at %}
                            {{ support.approved_at|localdatetime }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}