{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <h1 class="title has-text-centered">Edit Profile</h1>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter box">
            <form method="post" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">{{ form.title_th.label }}</label>
                    <div class="control">
                        {{ form.title_th(placeholder='Title TH', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.firstname_th.label }}</label>
                    <div class="control">
                        {{ form.firstname_th(placeholder='First Name TH', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.lastname_th.label }}</label>
                    <div class="control">
                        {{ form.lastname_th(placeholder='Last Name TH', class='input') }}
                    </div>
                </div>
                <hr>
                <div class="field">
                    <label class="label">{{ form.title_en.label }}</label>
                    <div class="control">
                        {{ form.title_en(placeholder='Title EN', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.firstname_en.label }}</label>
                    <div class="control">
                        {{ form.firstname_en(placeholder='First Name EN', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.lastname_en.label }}</label>
                    <div class="control">
                        {{ form.lastname_en(placeholder='Last Name EN', class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.photo_upload.label }}</label>
                    <div class="control">
                        {{ form.photo_upload() }}
                    </div>
                </div>
                <div class="field">
                  <label class="label">{{ form.programs.label }}</label>
                  <div class="control">
                    <div class="select">
                        {{ form.programs() }}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.position.label }}</label>
                    <div class="control">
                        {{ form.position(class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.field_expertise.label }}</label>
                    <div class="control">
                        {{ form.field_expertise(class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.experience.label }}</label>
                    <div class="control">
                        <div class="content">
                            {{ form.experience(class='textarea', id='exp-editor') }}
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-success">
                            <span class="icon">
                               <i class="far fa-save"></i>
                            </span>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{{ request.referrer }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    let toolbar = [
        // [groupName, [list of button]]
        ['style', ['style']],
        ['table', ['table']],
        ['font', ['bold', 'underline', 'strikethrough', 'superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']]
    ]
    let options = {
        height: 400,
        toolbar: toolbar
    }
    $(document).ready(function() {
        $('#exp-editor').summernote(options)
    })
</script>
{% endblock %}
