{% extends "base.html" %}

{% block title %}Add Journal{% endblock %}
{% block page_content %}
<section class="hero is-info">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">เพิ่มข้อมูลผลงานวิชาการ</h1>
            {% include 'message.html' %}
            <form method="post" class="box">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label">Journals</label>
                    <div class="control">
                        <div class="select">
                            {{ form.journals() }}
                        </div>
                    </div>
                </div>
                <span>The journal is not in the list?</span><a class="is-primary" href="{{ url_for('researcher.add_journal', next=request.endpoint) }}"> Click here </a>to add.
                <div class="field">
                    <label class="label">{{ form.title.label }}</label>
                    <div class="control">
                        {{ form.title(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.th_abstract.label }}</label>
                    <div class="control">
                        {{ form.th_abstract(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.en_abstract.label }}</label>
                    <div class="control">
                        {{ form.en_abstract(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.doi.label }}</label>
                    <div class="control">
                        {{ form.doi(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.url.label }}</label>
                    <div class="control">
                        {{ form.url(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.volume.label }}</label>
                    <div class="control">
                        {{ form.volume(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.issue_no.label }}</label>
                    <div class="control">
                        {{ form.issue_no(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.year.label }}</label>
                    <div class="control">
                        {{ form.year(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.month.label }}</label>
                    <p class="help is-primary">หากไม่ทราบ โปรดใส่เดือนมกราคมหรือเดือนที่ใกล้เคียงวันที่เผยแพร่มากที่สุด</p>
                    <div class="select">
                        {{ form.month() }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.ranking.label }}</label>
                    <div class="select">
                        {{ form.ranking(class="select") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.indexed.label }}</label>
                    <div class="control">
                        {{ form.indexed(class="input") }}
                        <p class="help is-primary">เช่น Pubmed, Scopus, TCI</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.page_no.label }}</label>
                    <div class="control">
                        {{ form.page_no(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.category.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.category(class='select') }}
                        </div>
                    </div>
                </div>
                <div class="buttons is-centered">
                    <button type="submit" class="button is-primary">
                        <span class="icon">
                           <i class="far fa-save"></i>
                        </span>
                        <span>Add</span>
                    </button>
                    <a class="button is-light"
                       href="{{ url_for('researcher.show_profile', user_id=current_user.id) }}">
                        <span class="icon">
                           <i class="far fa-times-circle"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
