{% extends "base.html" %}

{% block title %}Publication Detail{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">Publication Detail</h1>
            {% include 'message.html' %}
            <div class="box">
                <h1 class="title is-size-4">{{ pub.title }}</h1>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Authors</td>
                            <td>
                                <ol>
                                    {% for author in pub.authors %}
                                        {% if author.user_id %}
                                        <li>
                                            <strong>{{ author.user.profile }}</strong> {{ author.user.profile.affiliation }}
                                        </li>
                                        {% else %}
                                        <li>
                                            <strong>{{ author.fullname }}</strong> {{ author.affil }}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{ pub.category }}</td>
                        </tr>
                        <tr>
                            <td>Thai Abstract</td>
                            <td>{{ pub.th_abstract }}</td>
                        </tr>
                        <tr>
                            <td>English Abstract</td>
                            <td>{{ pub.en_abstract }}</td>
                        </tr>
                        <tr>
                            <td>DOI</td>
                            <td>{{ pub.doi }}</td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>
                                <a href="{{ pub.url }}">{{ pub.url }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Published</td>
                            <td>{{ pub.month }}, {{ pub.year }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons is-centered">
                    <a href="{{ url_for('researcher.add_pub_reward', pub_id=pub.id) }}"
                       class="button is-text">
                        <span>ขออนุมัติค่าตีพิมพ์ผลงาน</span>
                    </a>
                    <a href="{{ url_for('researcher.add_lang_support', pub_id=pub.id) }}"
                       class="button is-text">
                        <span>ขออนุมัติค่าตรวจภาษา</span>
                    </a>
                </div>
                <div class="buttons is-centered">
                    <a href="{{ url_for('researcher.show_profile', user_id=current_user.id) }}"
                       class="button is-medium is-light">Back</a>
                    {% if current_user.is_authenticated and current_user==pub.creator %}
                    <a href="{{ url_for('researcher.remove_pub', pub_id=pub.id) }}"
                       class="button is-danger is-medium">
                        <span class="icon">
                           <i class="far fa-trash-alt"></i>
                        </span>
                        <span>remove</span>
                    </a>
                    <a href="{{ url_for('researcher.edit_pub', pub_id=pub.id) }}"
                        class="button is-primary is-medium">
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>edit</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title">Reward</h1>
            <table class="table is-striped is-bordered is-fullwidth">
                <thead>
                <th>จำนวน</th>
                <th>ส่งเมื่อ</th>
                <th>ค่าตีพิมพ์ผลงาน</th>
                <th>รางวัล</th>
                <th>สถานะ</th>
                </thead>
                <tbody>
                {% for reward in pub.pub_rewards %}
                <tr>
                    <td>{{ reward.amount }}</td>
                    <td>{{ reward.submitted_at|localdatetime }}</td>
                    <td>{{ reward.apc }}</td>
                    <td>{{ reward.reward }}</td>
                    <td>{{ reward.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h1 class="title">English Language Editing Support</h1>
            <table class="table is-striped is-bordered is-fullwidth">
                <thead>
                <th>จำนวน</th>
                <th>ส่งเมื่อ</th>
                <th>สถานะ</th>
                </thead>
                <tbody>
                {% for reward in pub.language_editing_supports %}
                <tr>
                    <td>{{ reward.amount }}</td>
                    <td>{{ reward.submitted_at|localdatetime }}</td>
                    <td>{{ reward.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
