{% extends "base.html" %}

{% block title %}Publication Detail{% endblock %}
{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h1 class="title has-text-centered">Publication Detail</h1>
            {% include 'message.html' %}
            <div class="box">
                <h1 class="title is-size-4">{{ pub.title }}</h1>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Authors</td>
                            <td>
                                <ol>
                                    {% for author in pub.authors %}
                                        {% if author.user_id %}
                                        <li>
                                            <strong>{{ author.user.profile }}</strong> {{ author.user.profile.affiliation }}
                                        </li>
                                        {% else %}
                                        <li>
                                            <strong>{{ author.fullname }}</strong> {{ author.affil }}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{ pub.category }}</td>
                        </tr>
                        <tr>
                            <td>Thai Abstract</td>
                            <td>{{ pub.th_abstract }}</td>
                        </tr>
                        <tr>
                            <td>English Abstract</td>
                            <td>{{ pub.en_abstract }}</td>
                        </tr>
                        <tr>
                            <td>DOI</td>
                            <td>{{ pub.doi }}</td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>
                                <a href="{{ pub.url }}">{{ pub.url }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Published</td>
                            <td>{{ pub.month }}, {{ pub.year }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons is-centered">
                    <a href="{{ url_for('researcher.show_profile', user_id=current_user.id) }}"
                       class="button is-medium is-light">Back</a>
                    {% if current_user.is_authenticated and current_user==user %}
                    <a href="{{ url_for('researcher.remove_pub', pub_id=pub.id) }}"
                       class="button is-danger is-medium">
                        <span class="icon">
                           <i class="far fa-trash-alt"></i>
                        </span>
                        <span>remove</span>
                    </a>
                    <a href="{{ url_for('researcher.edit_pub', pub_id=pub.id) }}"
                        class="button is-primary is-medium">
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>edit</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
