{% extends "research/base.html" %}

{% block title %}Research Project: Detail{% endblock %}
{% block page_header %}Research Project Detail{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <p class="title">ชื่อโครงการ{{ project.th_title }}</p>
        <p class="subtitle">{{ project.en_title }}</p>
        <article class="notification">
            <h1 class="title">บทคัดย่อ</h1>
            <p class="has-text-justified">{{ project.th_abstract }}</p>
        </article>
        <table class="table is-fullwidth">
            <tr>
                <td>ลงทะเบียนเมื่อ</td><td>{{ project.publish }}</td>
            </tr>
            <tr>
                <td>ลงทะเบียนโดย</td><td>
                    <a href="{{ project.creator.get_absolute_url }}">
                    {{ project.creator }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>สถานภาพโครงการ</td><td>{{ project.status }}</td>
            </tr>
            <tr>
                <td>วันเริ่มโครงการ</td><td>{{ project.startdate }}</td>
            </tr>
            <tr>
                <td>วันสิ้นสุดโครงการ</td><td>{{ project.enddate }}</td>
            </tr>
            <tr>
                <td>สถานภาพโครงการ</td><td>{{ project.status }}</td>
            </tr>
            <tr>
                <td>ทุนสนับสนุน</td><td>{{ project.budget }} บาท</td>
            </tr>
            <tr>
                <td>สถานะการขออนุมัติทางจริยธรรมวิจัย</td>
                {% if irb %}
                <td><a href="{% url 'research:irb_detail' irb.pk %}">{{ irb.status }}</a>
                {% else %}
                <td>ยังไม่มีรายการ</td>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}