{% extends "research/base.html" %}

{% block title %}Ongoing Projects{% endblock %}

{% block page_subheader %}All ongoing projects{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% if query %}
                <h2 class="title is-size-4">
                    Projects containing : {{ query }}
                </h2>
                {% with projects.count as total_results %}
                <p class="tag is-large"><strong>Found</strong>&nbsp; {{ total_results }}&nbsp; project{{ total_results|pluralize }}</p>
                {% endwith %}
                {% endif %}
                {% for project in projects %}
                <h2 class="title">
                    <a href="{{ project.get_absolute_url }}">
                        {{ project.th_title }}
                    </a>
                </h2>
                <h2 class="subtitle">
                    {{ project.en_title}}
                </h2>
                <article class="notification">
                    <h3 class="title is-size-5">Abstract</h3>
                    <p class="has-text-justified">
                        {{ project.th_abstract }}
                    </p>
                </article>
                <p class="has-text-right">
                    Added at {{ project.publish }} by {{ project.creator }}
                    <span class="icon is-large">
                        <i class="fas fa-user-circle fa-3x"></i>
                    </span>
                </p>
                {% endfor %}
            </div>
            <div class="column is-one-fifth">
                <h1 class="title">Search for projects</h1>
                <form action="." method="get">
                    {{ form.as_p }}
                    {% csrf_token %}
                </form>
                <a href="{% url 'research:project_list' %}">
                    All projects
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}