{% extends "research/base.html" %}

{% block title %}Ongoing Projects{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Research
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Research Projects
            </h1>
            <h2 class="subtitle">
                All ongoing research
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for project in projects %}
        <h2 class="title">
            <a href="{{ project.get_absolute_url }}">
                {{ project.en_title }}
            </a>
        </h2>
        <h2 class="subtitle">
            {{ project.th_title}}
        </h2>
        <article class="notification">
            <h3 class="title is-size-5">Abstract</h3>
            <p class="has-text-justified">
                {{ project.th_abstract }}
            </p>
        </article>
        <p class="has-text-right">
            Added at {{ project.publish }} by {{ project.creator }}
        </p>
        {% endfor %}
    </div>
</section>
{% endblock %}