  <header class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="{{ url_for('main.index') }}">
            Home
          </a>
          {% if current_user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Account
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('researcher.show_profile', user_id=current_user.id) }}">
                Profile
              </a>
              <a class="navbar-item" href="{{ url_for('project.list_created_projects', user_id=current_user.id) }}">
                Your Projects
              </a>
            </div>
          </div>
          <a class="navbar-item" href="{{ url_for('project.list_projects') }}">
            All Projects
          </a>
          {% if current_user.is_authenticated and current_user.role == 1 %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Admin
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('webadmin.list_ethics') }}">
                  Ethic Submission
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_submissions') }}">
                Project Submission
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_projects') }}">
                All Projects
              </a>
              <a class="navbar-item" href="{{ url_for('auth.add_user') }}">
                  New User
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.add_pub') }}">
                  New Publication
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_pubs') }}">
                  Research Publications
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_users') }}">
                  Users
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_lang_edit_requests') }}">
                  Language Edit Supports
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_pub_rewards') }}">
                  Pub Rewards/Fee Supports
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_intl_conference_supports') }}">
                International Conference Supports
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.list_proposal_development_supports') }}">
                Proposal Development Supports
              </a>
              <a class="navbar-item" href="{{ url_for('webadmin.dashboard') }}">
                  Dashboard
              </a>
            </div>
          </div>
          {% endif %}
          <a class="navbar-item" href="{{ url_for('auth.logout') }}">
              <button class="button is-small is-danger is-rounded is-inverted">
                <strong>Sign Out</strong>
                <span class="icon">
                  <i class="fas fa-power-off"></i>
                </span>
              </button>
          </a>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </header>
